.custom-cursor-dot {
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: #111;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
